h1 , p  {
text-align: center;
}

li:hover{
    background-color: aquamarine;
    }

li:active{
    color: rgb(235, 85, 27);
    font-family: Arial, Helvetica, sans-serif;
}

ol , ul {
    list-style: none;
}